.button {
    border-style: none;
    height: 40px;
    padding: 6px 16px;
    background-color: black;
    color: #e7e7e7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: box-shadow 2s ease;
    box-shadow: 0 1px 2px rgb(163, 160, 160);
    border-radius: 3px;
    font-weight: 400;
}

.button.default {
    background-color: #e7e7e7;
    color: #037888;
}

.button.green {
    background-color: #014852;
    
}
.button.green:hover {
    background-color: #b2b4b6;
    color: #014852;
}

.button.red {
    background-color: #d81b02;
}

.button:hover {
    box-shadow: inset 200px 0 0 #3636361f;
}

@media(max-width:480px){
    .button.mobile{
        background-color: #014852;
        color:transparent;
        font-size:0;
        width:50px;
        height:50px;
        border-radius: 50%;
        position:fixed;
        top: 90vh;
        left: 80vw;
    }
    .button.mobile::before{
        content: "+";
        color:rgb(255, 255, 255);
        font-size: 17px;
        font-weight: bolder;
        width:100%;
        height:100%;
    }
}