* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #037888;
    --secundary-color: #d3d3d3;
    --shadow-color:rgb(177, 175, 175);
    --shadow-modal-color:rgb(66, 66, 66);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

header {
    background-color: var(--primary-color);
    height: 60px;
    text-align: left;
    line-height: 70px;
    box-shadow: 0 1px 2px #ccc;
    
    
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 3vh auto;
    padding: 20px;
    box-shadow: 2px 2px 10px var(--shadow-color);
}

footer {
    width: 100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}

@media (max-width:480px) {
    .header {
        position: fixed;
    }
    .header-title {
        font-size: 1.5rem;
    }
    main {
        padding: 0;
        margin: 20px 0 0 0;
        width: 100%;
        box-shadow: none;
    }
}