.header-title {
    color: #fff;
    font-size: 2rem;
    margin-left: 4.8%;
    
}
.header-input {
    color: #fff;
    font-size: 2rem;
    margin-left: 2%;
    background-color: var(--primary-color);
    border-style: none;
    text-transform: capitalize;
    border-color: aliceblue;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    

}